body {
    background-image: url('../images/caves-background.jpg');
    /* background-size: 1200px; */
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    text-align:center;
}

h3, ol,li,#computerNum, #userWins, #userLoss{
    color: white;
    font-size: 25px;
    text-align: center;
    list-style-position:inside;
    line-height: 40px;
}

.modal-header, .modal-body, h4{
    margin: 0 auto;
}


 .scoreText  {
    color: white;
    font-size: 25px;
    text-align: left;
    
}

img{
    width: 200px;
}

#MsgContainer{
    position: absolute;
    left: 900px;
    top: 430px;
    padding: 30px;
}


.crystalHolder {
    position: absolute;
    bottom: 30px;
    left: 400px;
    
}
#blueCrystal:hover {
    border: 5px solid blue;
}
#redCrystal:hover {
    border: 5px solid red;
}
#whiteCrystal:hover {
    border: 5px solid white;
}
#whitePurpleCrystal:hover {
    border: 5px solid purple;
}

/* next to add media queries */