body {
    background-image: url('../images/caves-background.jpg');
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    text-align:center;
}

h3, ol,li,#computerNum, #userWins, #userLoss, .scoreText{
    color: white;
    font-size: 25px;
    text-align:center;
    list-style-position:inside;
    line-height: 40px;
}


 #totalText {
    color: white;
    font-size: 25px;
    text-align: center;
}


.crystal-container {
    margin-left: 200px;
}